Вводятся числа по одному на строке, пока не встретится пустая строка. Вывести количество совершенных чисел.

In [2]:
def is_perfect(a):
    sum_divs = 0
    for i in range(1, a):
        if a % i == 0:
            sum_divs+=i
    if sum_divs == a:
        return True
    return False
        
a = input()
arr_num = []
while a != "":
    arr_num.append(int(a))
    a = input()
for num in arr_num:
    if is_perfect(num):
        print(num)

6
3
5
1

6

Статистика населения РФ с 2003- 2020 и кол-во страдающих от алкоголизма
В какой год минимальным(максимальный) процент населения и почему?

найти максимум, минимум, ср знач за период с 2003-2020, насколько изменялось относительно предыдущего года, также максимум от предыдущего значения, минимум и ср.знач

In [28]:
import pandas as pd
df = pd.read_excel('Desktop/stats.xlsx', engine='openpyxl')
display(df)

print("население на 1 число каждого года")
print(f"max: {df['население на 1 число каждого года'].max()}")
print(f"min: {df['население на 1 число каждого года'].min()}")
print(f"avg: {df['население на 1 число каждого года'].mean()}")

print("всего, тыс. человек")
print(f"max: {df['всего, тыс. человек'].max()}")
print(f"min: {df['всего, тыс. человек'].min()}")
print(f"avg: {df['всего, тыс. человек'].mean()}")

print("на 100 000 человек населения *)")
print(f"max: {df['на 100 000 человек населения *)'].max()}")
print(f"min: {df['на 100 000 человек населения *)'].min()}")
print(f"avg: {df['на 100 000 человек населения *)'].mean()}")

df["mod1"]=df["население на 1 число каждого года"]-df["население на 1 число каждого года"].shift(1)
df["mod2"]=df["всего, тыс. человек"]-df["всего, тыс. человек"].shift(1)
df["mod3"]=df["на 100 000 человек населения *)"]-df["на 100 000 человек населения *)"].shift(1)
display(df[["год", "mod1", "mod2", "mod3"]])

print("население на 1 число каждого года")
print(f"max: {df['mod1'].max()}")
print(f"min: {df['mod1'].min()}")
print(f"avg: {df['mod1'].mean()}")

print("всего, тыс. человек")
print(f"max: {df['mod2'].max()}")
print(f"min: {df['mod2'].min()}")
print(f"avg: {df['mod2'].mean()}")

print("на 100 000 человек населения *)")
print(f"max: {df['mod3'].max()}")
print(f"min: {df['mod3'].min()}")
print(f"avg: {df['mod3'].mean()}")

,год,население на 1 число каждого года,на 100 000 человек населения *),"всего, тыс. человек",на 100 000 человек населения *).1
0,2003,144963650,159.0,2213.1,1545.3
1,2004,144333586,152.8,2203.1,1544.2
2,2005,143801046,147.0,2190.7,1541.8
3,2006,143236582,134.8,2151.9,1506.3
4,2007,142862692,122.5,2115.8,1482.2
5,2008,142747535,121.5,2082.7,1459.1
6,2009,142737196,111.8,2016.5,1411.8
7,2010,142833502,107.8,1953.1,1367.1
8,2011,142865433,96.6,1865.9,1304.3
9,2012,143056383,85.7,1807.9,1261.2
10,2013,143347059,78.2,1746.5,1215.7
11,2014,143666931,74.7,1690.0,1155.4
12,2015,146267288,70.7,1577.0,1076.2
13,2016,146544710,64.8,1444.5,984.0
14,2017,146804372,53.2,1304.6,888.2
15,2018,146880432,51.6,1208.6,823.4
16,2019,146780720,48.3,1126.7,767.8
17,2020,146748590,37.6,1102.8,754.4

население на 1 число каждого года
max: 146880432
min: 142737196
avg: 144470983.7222222
всего, тыс. человек
max: 2213.1
min: 1102.8
avg: 1766.7444444444443
на 100 000 человек населения *)
max: 159.0
min: 37.6
avg: 95.47777777777777

     год       mod1   mod2  mod3
0   2003        NaN    NaN   NaN
1   2004  -630064.0  -10.0  -6.2
2   2005  -532540.0  -12.4  -5.8
3   2006  -564464.0  -38.8 -12.2
4   2007  -373890.0  -36.1 -12.3
5   2008  -115157.0  -33.1  -1.0
6   2009   -10339.0  -66.2  -9.7
7   2010    96306.0  -63.4  -4.0
8   2011    31931.0  -87.2 -11.2
9   2012   190950.0  -58.0 -10.9
10  2013   290676.0  -61.4  -7.5
11  2014   319872.0  -56.5  -3.5
12  2015  2600357.0 -113.0  -4.0
13  2016   277422.0 -132.5  -5.9
14  2017   259662.0 -139.9 -11.6
15  2018    76060.0  -96.0  -1.6
16  2019   -99712.0  -81.9  -3.3
17  2020   -32130.0  -23.9 -10.7

население на 1 число каждого года
max: 2600357.0
min: -630064.0
avg: 104996.4705882353
всего, тыс. человек
max: -10.0
min: -139.9000000000001
avg: -65.31176470588235
на 100 000 человек населения *)
max: -1.0
min: -12.300000000000011
avg: -7.141176470588236